body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; 
    font-size:  24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: white;
  font-weight : bold;
  text-decoration : none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo_hd {
    width: 369px; 
    height: 94px;
    margin: 10px 70px;
}

#botonera {
    position:absolute; 
    top: 25px; 
    left: 435px
}

#redes {
    position:absolute; 
    top: 12px; 
    left: 82px
}

#tele_info {
    position: absolute;
    top: 85px;
    left: 75px;
    text-align: center;
    font-size: 1.3em;
}

#direccion {
    position: absolute;
    top: 100px;
    left: 450px;
    text-align: center;
    font-size: 1.3em;
}

#telefonos {
    position: absolute;
    top: 100px;
    left: 800px;
    text-align: center;
    font-size: 1.3em;
}

.boton{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 15px;
}

.brs {
    display: inline-block;
    width: 50px;
    height: 30px;
}

.title_foot {
    color: #343d93;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.text-center {
    text-align: center;
}

.image-center {
    text-align: center;
}