<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
      
      
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div style="float:left">
            <h:graphicImage library="images" name="footer.png"/>
        </div>
        
        <div id="redes">
            <nav>
                <ul>
                    <li class="brs">
                        <a href="https://goo.gl/maps/8rebAtrXaM52" target="_blank">
                            <h:graphicImage library="images" name="ubicacion.png" width="35px"/>
                        </a>
                    </li>
                    <li class="brs">
                        <a href="https://www.facebook.com/Telecable-de-Calimaya-777920345615286/" target="_blank">
                            <h:graphicImage library="images" name="fb.png" width="35px"/>
                        </a>
                    </li>   
                    <li class="brs">
                        <a href="https://twitter.com/telcalimaya" target="_blank">
                            <h:graphicImage library="images" name="twitter.png" width="35px"/>
                        </a>
                    </li>
                    <li class="brs">
                        <a href="mailto:uolascoagag@toluca.tecnm.mx">
                            <h:graphicImage library="images" name="mail.png" width="35px"/>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div id="tele_info">
            <h3 class="title_foot">Telecable de Calimaya S.A. de C.V.</h3>
            Somos una empresa proveedora de<br></br>
            servicios de telecomunincaciones al<br></br>
            hogar, situados en más de 3 estados<br></br>
            y 18 municipios.
        </div>
        
        <div id="direccion">
            <h3 class="title_foot">Dirección</h3>
            Dr. Javier Ibarra No. 6, Calimaya de<br></br>
            Díaz González, Estado de México.
        </div>
        
        <div id="telefonos">
            <h3 class="title_foot">Teléfono</h3>
            (01)(722)1 71 68 47<br></br>
            (01)(722)1 71 75 47
        </div>
    </h:body>
</html>

