<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                <div style="width: 100%">
                    <h:graphicImage library="images" name="sala.png" width="100%"/>
                </div>
                
                <div align="center">
                    <h:form style="border-top: 0.5px black solid; padding-top: 20px">
                        <h:panelGrid columns="2" width="100%" style="text-align: center; font-size: 18px">
                            <h:column>
                                <h1>Televisión por suscripción</h1>
                                <br></br>
                                <h:graphicImage library="images" name="television.png" width="150px"/>
                                <br></br> <br></br>
                                Disfruta de los mejores contenidos exclusivos <br></br>
                                directamente en tu hogar. Todos los deportes, noticias <br></br>
                                y entretenimiento, incluyendo tus canales locales.
                                <br></br> <br></br>
                                <h:commandButton value="Ver paquetes" action="television"></h:commandButton>
                            </h:column>
                            <h:column>
                                <h1>Internet de alta velocidad</h1>
                                <br></br>
                                <h:graphicImage library="images" name="internet.png" width="150px"/>
                                <br></br> <br></br>
                                ¿Estás desconectado? No esperes más y contrata Internet <br></br>
                                de Telecable. Conoce los paquetes y elige el que más se <br></br>
                                adapte a tus necesidades.
                                <br></br><br></br>
                                <h:commandButton value="Ver paquetes" action="internet"></h:commandButton>
                            </h:column>
                        </h:panelGrid>
                    </h:form>
                </div>
                
                <div align="center" style="padding-top: 20px; border-top: 0.5px black solid; margin-top: 20px">
                    <h1>Conoce nuestros nuevos canales</h1>
                    <br></br><br></br>
                    <h:form>
                        <h:panelGrid style="text-align: center; width: 65%" columns="4">
                            <h:column>
                                <h:graphicImage library="images" name="tdn.png" width="150px"/>
                            </h:column>
                            <h:column>
                                <h:graphicImage library="images" name="natgeo.png" width="150px"/>
                            </h:column>
                            <h:column>
                                <h:graphicImage library="images" name="fox-life.png" width="150px"/>
                            </h:column>
                            <h:column>
                                <h:graphicImage library="images" name="tiin.png" width="150px"/>
                            </h:column>
                        </h:panelGrid>
                            
                    </h:form>
                </div>
            </ui:define>
                
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

