<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"></link>
        
    </h:head>
    <h:body>
        
        
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                <f:metadata>
            <f:viewParam name="nom" value="#{beanUsuario.nombre}"></f:viewParam>
            <f:viewParam name="l" value="#{beanUsuario.loggeo}"></f:viewParam>
            <f:viewParam name="u" value="#{beanUsuario.usuario}"></f:viewParam>
            <f:viewParam name="c" value="#{beanUsuario.noContrato}"></f:viewParam>
            <f:event type="preRenderView" listener="#{beanUsuario.verificaLoggeo()}"></f:event>
        </f:metadata>
                <div align="center" style="border: 2px solid black">
            <h1>Información de servicio</h1>
            <h:panelGrid columns = "1"  cellpadding = "10" cellspacing = "10" style="text-align: center">
                <h:outputText value="Bienvenido(a) #{beanUsuario.nombre}"></h:outputText>
                <h:outputText value="No Contrato: #{beanUsuario.noContrato}"></h:outputText>
                <h:outputText value="Fecha de Corte: #{beanUsuario.fecha}"></h:outputText>
                              <h:outputText value="Tipo de servicio: #{beanUsuario.servicios}"></h:outputText>
                              <h:outputText value="Total a pagar: $#{beanUsuario.total}"></h:outputText>
            </h:panelGrid>
        </div>
            </ui:define>
            
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
        
        
    </h:body>
</html>

