<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <div style="background: white">
                    <div align="center">
                        <h1 class="Titulo1">Internet</h1>
                        <img class="imgt" src="resources/images/internet.png" style="width: 200px; height: 200px"/>
                        <hr>
                            <table>
                                <tr>
                                    <th><img class="ii" src="resources/images/ii.jpg" /></th>
                                    <th><p class="p1">Navega con hasta 10Mbps de velocidad, reproduce videos,
                                            juega en línea,
                                            realiza videollamadas, 
                                            comparte archivos y mucho más. 
                                            Todo al mismo tiempo.</p></th>
                                </tr>
                            </table>
                        </hr>
                        <hr>
                            <table>
                                <tr>
                                    <th><p class="p1">Cobertura WiFi que llega hasta
                                            el último rincón de tu hogar con 
                                            WiFi Extender y Punto de Acceso a Internet, 
                                            incluidos en nuestros planes*</p></th>
                                    <th><img class="ii" src="resources/images/i2.jpg" /></th>

                                </tr>
                            </table> 
                        </hr>
                        <hr>
                            <table>
                                <tr>
                                    <th><img class="ii" src="resources/images/i3.jpg" /></th>
                                    <th><p class="p1">Controla y unifica el nombre
                                            y contraseña de tu red desde tu TV
                                            o aplicación móvil. 
                                            Además mejora el desempeño de tu internet.</p></th>
                                </tr>
                            </table> 
                        </hr>
                        <hr>
                            <table>
                                <tr>
                                    <th id="paq">
                                        Hasta 2 Megas
                                    </th>
                                    <th id="paq">
                                        Hasta 3 Megas
                                    </th>
                                    <th id="paq">
                                        Hasta 5 Megas
                                    </th>
                                    <th id="paq">
                                        Hasta 10 Megas
                                    </th>
                                </tr>
                                <tr>
                                    <td id="pre">$239</td>
                                    <td id="pre">$279</td>
                                    <td id="pre">$339</td>
                                    <td id="pre">$439</td>
                                </tr>
                            </table> 
                        </hr>
                        <div align="center" style="margin-top: 20px">
                            <h:form>
                                <h:commandButton action="solicitud" value="Suscribete" styleClass="boton_hd"></h:commandButton>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

