<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <div align="center">
                    <h1>¿Qué es Telecable de Calimaya?</h1>
                    <br></br>
                    <br></br>
                    <h:form>
                        <h:panelGrid columns="1" style="text-align: justify; width: 50%; font-size: 18px">
                            <h:column>
                                Telecable (registrada como Telecable de Calimaya S.A. de C.V.)
                                es una marca comercial de servicios de Telecomunicaciones 
                                Mexicana, ofrece servicios de televisión por cable e internet,
                                con cobertura en 18 municipios de 3 estados de la Republica
                                Mexicana. <br></br><br></br>
                                Con sede en el Estado de México, municipio de Calimaya.
                            </h:column>
                        </h:panelGrid>
                    </h:form>
                </div>
                
                <div align="center" style="margin-top: 20px">
                    <h:form style="border-top: 0.5px black solid; padding-top: 20px">
                        <h:panelGrid columns="2" width="60%" style="text-align: center; font-size: 18px">
                            <h:column>
                                <h:graphicImage library="images" name="mision.png"/>
                            </h:column>
                            <h:column>
                                "Entregar a nuestro clientes soluciones integrales, confiables e innovadoras
                                en telecomunicaciones y entretenimiento, comprometidos con brindarles
                                un servicio de calidad."
                            </h:column>
                        </h:panelGrid>
                    </h:form>
                </div>
                
                <div align="center" style="margin-top: 20px">
                    <h:form style="border-top: 0.5px black solid; padding-top: 20px">
                        <h:panelGrid columns="2" width="60%" style="text-align: center; font-size: 18px">
                            <h:column>
                                "Ser la compañía lider de servicios digitales de la zona, preferida por su
                                confiabilidad y eficacia."
                            </h:column>
                            <h:column>
                                <h:graphicImage library="images" name="vision.png"/>
                            </h:column>
                        </h:panelGrid>
                    </h:form>
                </div>
            </ui:define>

            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

