<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                <div align="center">
                    <h:form style="border-top: 0.5px black solid; padding-top: 20px">
                        <h:panelGrid columns="2" width="80%" style="text-align: center; font-size: 18px">
                            <h:column>
                                <h:graphicImage library="images" name="beneficios.png" width="450px" style="padding-top: 70px"/>
                            </h:column>
                            <h:column>
                                <div align="center" style="background-color: #cccccc; border: 2px black solid; border-radius: 10px">
                                    <h1 style="text-align: center; margin-top: 20px">Registro</h1>
                                    <br></br>
                                    <br></br>
                                    <h:panelGrid columns="2" style="text-align: center">
                                        <h:outputLabel value="Número de contrato:"/>
                                        <h:inputText value="#{beanUsuario.noContrato}"></h:inputText>
                                        <h:outputLabel value="Correo electrónico:"/>
                                        <h:inputText value="#{beanUsuario.correo}"></h:inputText>
                                        <h:outputLabel value="Usuario:"/>
                                        <h:inputText value="#{beanUsuario.usuario}"></h:inputText>
                                        <h:outputLabel value="Contraseña:"/>
                                        <h:inputSecret value="#{beanUsuario.pass}"></h:inputSecret>
                                    </h:panelGrid>
                                    <br></br>
                                    <h:commandButton value="Registrarse" action="#{beanUsuario.registro()}"/>
                                    <br></br><br></br>
                                </div>
                            </h:column>
                        </h:panelGrid>
                    </h:form>
                </div> 
            </ui:define>
            
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

