<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>
            
            <ui:define name="content">
                <div align="center">
                       <p id="Re" style="font-size: 30px">!Envianos tus datos!</p>
                    <hr>
                        <p style="font-size: 16px">Para obtener nuestro servicio, por favor llene este sencillo formulario. Uno de nuestros representantes se comunicara con usted lo mas pronto posible.
                        </p>
                    </hr>
                    <table>
                        <tr>
                            <th>
                                <div align="center">
                                    <h:column>
                                        <h:form style="background: #eae7e7; margin-left: 75px"  >
                                            <div align="center"> <p class="tf">Introduzca sus Datos: </p></div>
                                            <hr> </hr>
                                            <h:panelGrid columns="2">

                                                <h:outputLabel class="tiCam" value="Nombre" />                               
                                                <h:inputText   id="nom" label="NomAp *" value="#{beanSolicitudLlamada.nombre}" ></h:inputText>
                                                
                                                <h:outputLabel class="tiCam" value="Apellido Paterno" />                               
                                                <h:inputText   id="app" label="NomAp *" value="#{beanSolicitudLlamada.app}" ></h:inputText>
                                                
                                                <h:outputLabel class="tiCam" value="Apellido Materno" />                               
                                                <h:inputText   id="apm" label="NomAp *" value="#{beanSolicitudLlamada.apm}" ></h:inputText>

                                                <h:outputLabel class="tiCam" value=" Telefono"/>                               
                                                <h:inputText  id="tel" label="Tel" value="#{beanSolicitudLlamada.telefono}"></h:inputText>                            

                                                <h:outputLabel class="tiCam" value="Email"/>                               
                                                <h:inputText  id="dir" label="Email" value="#{beanSolicitudLlamada.correo}"></h:inputText>

                                                <h:outputLabel class="tiCam" value="Codigo Postal"/>                               
                                                <h:inputText  id="cp" label="CP *" value="#{beanSolicitudLlamada.codigoPostal}"></h:inputText>                            

                                                

                                                <h:outputLabel  class="tiCam" value="Elija un Servicio*"/> 
                                                <h:selectOneMenu value="#{beanSolicitudLlamada.serv}" >
                                                    
                                                    <f:selectItem itemLabel="Paquete Basico" itemValue="11"/>
                                                    <f:selectItem itemLabel="Paquete SuperBasico" itemValue="12" />
                                                    
                                                    <f:selectItem itemLabel="Internet 2MB"  itemValue="1"/>  
                                                    <f:selectItem itemLabel="Internet 3MB" itemValue="2" />
                                                    <f:selectItem itemLabel="Internet 5MB" itemValue="3" />
                                                    <f:selectItem itemLabel="Internet 10MB" itemValue="4" />
                                                </h:selectOneMenu>    
                                            </h:panelGrid>
                                            <div align="center">
                                                <h:commandButton value="Enviar" action="#{beanSolicitudLlamada.enviarS()}"/>                                                      
                                            </div>  

                                        </h:form>
                                    </h:column>
                                </div>
                            </th>

                            <th>
                                <img class="ii2" src="resources/images/imgS.jpg" />
                            </th>
                        </tr>
                    </table>

                    <hr></hr>

                </div>
            </ui:define>
            
            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

