<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>TeleCable</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="top">
                <ui:include src="templates/header.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <div style="background: white">
                    <div align="center">
                        <h1 class="Titulo1">Television por suscripción</h1>
                        <img class="imgt" src="resources/images/television.png" style="width: 200px; height: 200px"/>
                        <hr>
                            <table>
                                <tr>
                                    <th><img class="ii" src="resources/images/canal1.jpg" /></th>
                                    <th><p class="p1">Paquete Basico
                                            con hasta mas de 40 canales 
                                            para toda la familia y amigos</p></th>
                                </tr>
                            </table>
                        </hr>
                        <hr>
                            <table>
                                <tr>
                                    <th><p class="p1">Paquete Super Basico
                                            con hasta mas de 70 canales 
                                            para toda la familia y amigos en HD</p></th>
                                    <th><img class="ii" src="resources/images/canal2.png" /></th>
                                </tr>
                            </table> 
                        </hr>

                        <hr>
                            <table>
                                <tr>
                                    <th id="paq1">
                                        ¡Paquete 
                                        Basico!
                                    </th>
                                    <th id="paq1">
                                        ¡Paquete 
                                        Super Basico!
                                    </th>
                                    <th id="paq1">
                                        ¡Contratacion!
                                    </th>
                                </tr>
                                <tr>
                                    <td id="pre">$179</td>
                                    <td id="pre">$229</td>
                                    <td id="pre">$100</td>

                                </tr>
                            </table> 
                        </hr>
                        <div align="center" style="margin-top: 20px">
                            <h:form>
                                <h:commandButton action="solicitud" value="Suscribete" styleClass="boton_hd"></h:commandButton>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>

            <ui:define name="bottom">
                <ui:include src="templates/footer.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

